@using MVCCV.Models.Entity
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Egitimler</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Universite</th>
        <th>Fakulte</th>
        <th>Bolum</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Duzenle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Title</td>
            <td>@x.Subtitle1</td>
            <td>@x.Subtitle2</td>
            <td>@x.GNO</td>
            <td>@x.EducationDate</td>
            <td><a href="/Education/EducationDelete/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/EducationGet/@x.ID" class="btn btn-warning">Duzenle</a></td>
        </tr>
    }

</table>
<a href="/Education/EducationAdd" class="btn btn-primary">Yeni Egitim ekle</a>